input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.checkbox {
  display: inline-block;
  padding: 0.5em;
  label {
    display: block;
    width: 4rem;
    height: 1.5rem;
    text-align: center;
    padding: 1rem;
    background: rgba($accent,0.2);
    &:hover {
      cursor: pointer;
    }
    &.checked {
        background: $accent;
    }
  }
}