body {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 60em;
  margin: auto;
  padding-bottom: 5em;
}

.weight-input {
  display: flex;
  div {
      padding: 0.5%;
      width: 99%;
  }
}
.list {
  width: 250px;
}
.available-plates {
  display: flex;
  flex-wrap: wrap;
}
.bottomNav {
  box-shadow: 0px 0px 10px 0px rgba(224,224,224,1);
  position: fixed;
  width: 100%;
  bottom: 0;
}