body {
  color: $dark;
  font-size: 18px;
  font-family: sans-serif;
}
h1 {
  font-size: 0.8em;
  padding-top: 1em;
  padding-left: 1em;
  border-top: 1px solid rgba(black, 0.15);
}
span.unit {
  padding-left: 0.2em;
  font-size: 0.8em;
}